Contexto: Un banco contrata a una empresa de marketing encargada de contactar telefonicamente a posibles clientes para determinar si estan interesados en ciertos productos bancarios.

Para esto lo primero que debemos hacer es limpiar nuestros datos. Pero antes cargaremos las librerias y nuestros datos

In [2]:
#Importamos librerias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Guardamos nuestros datos en una variable y y mostramos las primeras filas
df = pd.read_csv('dataset_banco.csv')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no

In [4]:
#Vemos cuantas filas y columnas tiene nuestro df
print(df.shape)

(45215, 17)

In [4]:
#Vemos las variables categoricas y numericas, que sean del tipo de dato que corresponde
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45213 non-null  object
 2   marital    45214 non-null  object
 3   education  45214 non-null  object
 4   default    45215 non-null  object
 5   balance    45213 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45214 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45214 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

Las situaciones más comunes para la limpieza de datos son las siguientes:
1. Datos faltantes
2. Columnas irrelevantes
3. Registros (filas) reperidos
4. Valores extremos (outliers)
5. Errores tipográficos

1. Datos faltantes

Para los datos faltantes tenemos varias opciones como por ejemplo eliminar las filas, interpolar valores, aplicar estadisticos, etc. En este caso veremos que los datos falatantes son pequeños por lo cual una opción sencilla es eliminar estas filas con datos faltantes.

In [6]:
#Verificamos que cuantos valores faltantes tenemos por columnas
df.isnull().sum()

age          0
job          2
marital      1
education    1
default      0
balance      2
housing      0
loan         0
contact      0
day          0
month        0
duration     1
campaign     0
pdays        1
previous     0
poutcome     0
y            0
dtype: int64

In [7]:
#Sumamos el total de datos faltantes
df.isnull().sum().sum()

8

In [10]:
#Eliminaremos nuestros filas con datos faltantes pero también veremos en cuanto varían nuestra cantidad de filas
print(df.shape)
df.dropna(inplace=True)
print(df.shape)

(45207, 17)
(45207, 17)

2. Columnas Irrelevantes